{% extends theme('layout.html') %}

{% block title %}
    Blockchain Certificate Issuer Site
{% endblock %}

{% block css %}
    {{ super() }}
    <link rel=stylesheet type=text/css href="{{ theme_static('css/index.css') }}">
{% endblock %}

{% block content %}
    {% with messages = get_flashed_messages() %}
        <div class="issuer-logo">
            <img src="{{ theme_static(config.ISSUER_LOGO_PATH) }}"/>
        </div>

        <div class="intro-title">
            <h1>{{ config.ISSUER_NAME }}</h1>
        </div>

    {% if messages %}
            <div class="messages">
                <h3>Check Your Inbox</h3>
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
    {% else %}
<div clsss="container">
<div class="jumbotron" style="padding-top: 5px; padding-bottom: 15px">
	    <form id = 'input' method='post' action='/upload'  class="form-signin" enctype="multipart/form-data">
                    <input type="file" name="cert_json" id="cert_json" class="form-control"  placeholder="cert_json" required autofocus>
		    <p> </p>
		    <p> </p>
                    <input type="submit" value="Verify">
            </form>
</div>
</div>
    {% endif %}

    {% endwith %}
{% endblock %}
